<a href="https://colab.research.google.com/github/sourovkumar1688/Fall-2020-ML-AI-PC-A/blob/master/Week1_NoteBook_2_Python_Code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **IF statement**

In [ ]:
grade = int(input('Enter the number: '))
if grade>=40:
  print("passed")
if grade<=40:
  print("Failed")

Enter the number: 82
passed

# **If else statement**

In [ ]:
grade = int(input('Enter the number: '))
if grade>=40:
  print("passed")
else:
  print("Failed")

Enter the number: 56
passed

Conditional expression

In [ ]:
x = ('Passed' if grade >= 40 else 'Failed')

In [ ]:
print(x)

Passed

# **IF...elif....else statement**

In [ ]:
grade = int(input('Enter the number: '))

if grade >= 80:
    print('A')
elif grade >= 70:
    print('B')
elif grade >= 60:
    print('C')
elif grade >= 40:
    print('D')
else:
    print('F')

Enter the number: 39
F

# **While Statement**

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

while statement to find the first power of 3 larger than 50:

In [ ]:
x = 3
while x<=50:
  x = x * 3
print(x)

81

# **For statement**

In [ ]:
for i in "sourov":
  print(i, end=" ")

s o u r o v

## **Built in Range Function**

In [ ]:
for x in range(10):
  print(x)

0
1
2
3
4
5
6
7
8
9

Use the range function and a for statement to calculate the total of the integers from 0 through 1,000,000.

In [ ]:
total = 0
for n in range(1000001):
  total = total + n
print(total)

500000500000

Function range also has two- and three-argument versions. As you’ve seen, range’s one argument version produces a sequence of consecutive integers from 0 up to, but not including, the argument’s value. Function range’s two-argument version produces a sequence of consecutive integers from its first argument’s value up to, but not including, the second argument’s value, as in:

In [ ]:
for n in range(10,30):
  print(n, end=" ")

10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29

Function range’s three-argument version produces a sequence of integers from its first argument’s value up to, but not including, the second argument’s value, incrementing by the third argument’s value, which is known as the step:

In [ ]:
for n in range(0,30,2):
  print(n)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28

If the third argument is negative, the sequence progresses from the first argument’s value down to, but not including the second argument’s value, decrementing by the third argument’s value, as in:

In [ ]:
for n in range(30,0,-3):
  print(n)

30
27
24
21
18
15
12
9
6
3

# **Number table print using range function**

In [ ]:
x =  int(input('Enter the number: '))
for i in range(1,11):
  print(x,"X",i,"=",x*i)

Enter the number: 11
11 X 1 = 11
11 X 2 = 22
11 X 3 = 33
11 X 4 = 44
11 X 5 = 55
11 X 6 = 66
11 X 7 = 77
11 X 8 = 88
11 X 9 = 99
11 X 10 = 110

**Nested For Loop**

In [ ]:
for left in range(9):
    for right in range(left,9):
        print("["+str(left)+"|"+str(right)+"]", end =" ")
    print()

[0|0] [0|1] [0|2] [0|3] [0|4] [0|5] [0|6] [0|7] [0|8]
[1|1] [1|2] [1|3] [1|4] [1|5] [1|6] [1|7] [1|8]
[2|2] [2|3] [2|4] [2|5] [2|6] [2|7] [2|8]
[3|3] [3|4] [3|5] [3|6] [3|7] [3|8]
[4|4] [4|5] [4|6] [4|7] [4|8]
[5|5] [5|6] [5|7] [5|8]
[6|6] [6|7] [6|8]
[7|7] [7|8]
[8|8]

**Break statement**

In [ ]:
for x in range(20):
  if  x==15:
    break
  print(x)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14

**Continue statement**

In [ ]:
for x in range(20):
  if  x==15:
    continue
  print(x)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
16
17
18
19

# **Beginner Problem solving from Uri Online Judge**

# **1. Extremely Basic**

In [ ]:
x = int(input())
y = int(input())
z = x + y
print('x =',z)

-10
4
x = -6

# **2. Area of a Circle**

In [ ]:
r = float(input())

area = 3.14159 * r ** 2
print('A=',area)

150.00
A= 70685.775

# **3. Difference**

In [ ]:
a = int(input())
b = int(input())
c = int(input())
d = int(input())

multi = (a * b - c * d)
print("DIFERENCA =",multi)

5
6
7
8
DIFERENCA = -26

# **4. Age in Days**

In [ ]:
n = int(input())
y=n/365
m=(n%365)/30
d=(n%365)%30
print(int(y),"ano(s)")
print(int(m),"mes(es)")
print(int(d),"dia(s)")

800
2 ano(s)
2 mes(es)
10 dia(s)